* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 18px;
  color: #fff;
}
header, footer {
  background-color: #000;
}

/* CABEÇALHO */
.cabecalho {
  padding: 20px 0;
  align-items: center;
}
.cabecalho .logo {
  text-decoration: none;
}
.cabecalho .logo > :nth-child(1) {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.cabecalho .logo > :nth-child(2) {
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

.menu .item-menu {
  color: #fff;
  display: flex;
}
.menu .item-menu:hover {
  color: #b9b6b6;
}
.menu .item-menu.active {
  color: #938d85;
}
@media (max-width: 767px) {
  .icone-menu-mobile {
    display: flex !important;
    right: 20px;
    font-size: 75px;
    justify-content: end;
    cursor: pointer;
  }
  .menu .nav {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: black;
    flex-direction: column;
    width: 100%;
  }
  .menu .nav.aberto {
    display: flex;
  }
  .menu .nav .item-menu {
    display: inline-flex;
    justify-content: end;
    width: 100%;
  }
}
/* CABEÇALHO */

/* RODAPÉ */
.rodape {
  padding: 20px;
}
.rodape > :nth-child(n) {
  flex-wrap: wrap;
}
.rodape .box-logo {
  text-decoration: none;
  text-align: center;
}
.rodape .box-logo > :nth-child(1) {
  font-size: 32px;
  font-weight: bold;
}
.rodape .box-logo > :nth-child(2) {
  font-size: 12px;
  font-style: italic;
}
.menu-rodape .titulo,
.newsletter .titulo {
  font-weight: bold;
  margin-bottom: 15px;
}
.menu-rodape .itens > .item {
  text-decoration: none;
  margin-left: 14px;
  display: flex;
}
.menu-rodape .itens > .item li {
  font-size: 14px;
  font-style: italic;
}
.rodape .box-news .news-btn {
  margin-top: 5px;
}
.rodape .box-news .news-btn,
.rodape .box-news .news-email {
  font-size: 15px;
}
.rodape .autores {
  font-size: 12px;
  justify-content: center;
  margin: 5px 0;
}
.rodape .autores > .autor {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.rodape .autores > .autor img {
  width: 13px;
  height: 13px;
}
.rodape .autores > .autor span {
  font-size: 11px;
  margin-left: 5px;
}
/* RODAPÉ */

/* VITRINES */
.vitrine {
  margin: 15px 0;
}
.vitrine .titulo > span {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  background-color: #d5d0d0;
  padding: 10px 50px 5px 10px;
  border-radius: 5px 50px 0px 0px;
}
.vitrine .titulo,
.vitrine .itens {
  width: 100%;
}
.vitrine .itens {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.vitrine .itens .item:hover {
  background-color: #f1f1f1;
}
.vitrine .item .nome-produto {
  color: #353535;
  font-weight: bold;
  margin-top: 15px;
}
.vitrine .item .imagem > img {
  width: 100%;
}
.vitrine .item .box-precos {
  margin: 10px 0;
}
.vitrine .item .box-precos > :nth-child(n) {
  display: block;
  width: 100%;
  color: #353535;
  font-size: 14px;
}
.vitrine .item .box-precos > .preco-de {
  text-decoration: line-through;
}
.vitrine .item .box-precos > .preco-por {
  font-size: 18px;
  font-weight: bold;
  color: #0e3e0e;
}
.vitrine .item .btn-comprar {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .vitrine .item .imagem {
    display: flex;
    justify-content: center;
  }
  .vitrine .item .imagem > img {
    width: 55%
  }
}
/* VITRINES */

@media(max-width: 767px) {
  .box-avaliacoes > :nth-child(n):not(:first-child) {
    margin-top: 0;
  }
  .rodape > :nth-child(1) > :nth-child(n) {
    margin: 10px 0;
  }
}